.about{
    width: 100%;
    height: 100vh;
    background-color:whitesmoke;
}
.about p{
    text-align: center;
    text-justify: inter-word;
}

.about h1{
    border-bottom: 2px solid orange ;
    padding: 5px;
}

.about a{
    font-weight: bold;
    font-size:50px;
}
